.swapButton:disabled {
    color: var(--bs-gray-400);
}

.swapButton:disabled:hover {
    cursor: pointer;
}

.swapButton {
    color: var(--bs-primary);
    border: none;
    background: none;
}

.swapButton:not(:disabled):hover {
    opacity: 0.6;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 1s linear infinite;
}