.App__header {
    background-color: var(--transparent-dark-color);
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App__header .title {
    font-size: min(12vw, 3.2rem);
    margin-bottom: 10px;
}

.App__header .subtitle {
    font-size: min(6vw, 1rem);
}