.App {
    display: grid;
    grid-template-rows: 160px 16fr 35px;
    height: 100dvh;
    letter-spacing: 1.2px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

a {
    text-decoration: none;
}